<div class="flex flex-col gap-4 p-4 sm:flex-row" data-testid="heroes-container">
  <div class="flex-1">
    <h2 class="mb-4 text-2xl font-semibold text-slate-700">My Heroes</h2>
    <ul class="space-y-2">
      @for (hero of heroes$ | async; track hero.id) {
      <li class="flex cursor-pointer items-center rounded-md py-2" [ngClass]="
            hero === selectedHero
              ? 'bg-sky-600 text-white'
              : 'bg-slate-200 text-slate-800 hover:bg-slate-300'
          " (click)="onSelect(hero)" data-testid="hero-item">
        <span
          class="mx-3 flex h-8 w-8 items-center justify-center rounded-full bg-blue-600 text-sm font-bold text-white">
          {{ hero.id }}
        </span>
        {{ hero.name }}
      </li>
      }
    </ul>
  </div>
  @if (selectedHero) {
  <div class="rounded-xl bg-slate-50 p-5 shadow-lg sm:w-2/5" data-testid="hero-detail-panel">
    <app-hero-detail [hero]="selectedHero" (close)="onCloseDetail()" />
  </div>
  }
</div>
